@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Brushability Sans;
    src: local(./resources/font/Brushability-Sans.otf);
}
.recursos {
    color: #f6276e #0b66ba #fad94c
    }

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0 30px 0 0;
    display: flex;
    gap: 24px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }

  .container-1 {
    background-image: url(./resources/img/banneryellow3.jpg);
    background-color: gray;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    height: 70px;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 0 16px 0 16px;
}

.h-left, .h-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.h-left {
    justify-content: flex-start;
    flex-shrink: 0;
}

.h-right {
    justify-content: flex-end;
}

.logo {
    height: 50px;
}

.logo-name {
    font-size: 20px;
    font-family: Brushability Sans;
    font-weight: 900;
    display: flex;
}

.soualuno, .cadastrese {
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 8px 20px;
    border: none;

}

.soualuno {
    background: white;
    color:#0b66ba;
}

.cadastrese {
    background: #0b66ba;
    color: white;
    border-color: #0b66ba;
}

.banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 700px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 16px;
}

.title-1 {
    font-family: 'Brushability Sans';
    font-size: 24px;
    font-weight: 400;
    margin-left: 8px;
}

.title-2 {
    font-family: 'Brushability Sans';
    font-size: 90px;
    font-weight: 900;
    margin-top: -40px;
    color: #f6276e;
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-1 {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color:#fad94c;
    width: 200px;
    padding: 8px 32px;
    margin-top: 45px;
    flex: ;
}

.title-3 {
    font-family: 'Brushability Sans';
    font-weight: 200;
    font-size: 24px;
}

.text-1 {
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 0;
}

.price-1 {
    font-size: 14px;
    font-weight: 300;
}

.price-2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 35px;
}

.cta-1 {
    width: 200px;
    margin-top: -20px;
    font-size: 16px;
    background: #0b66ba;
    color: white;
    font-family: 'Brushability Sans';
    font-weight: 600;
    height: 40px;
    border: none;
}

.container-2 {
    display: flex;
    justify-content: center;
}

.image-1 {
    width: 700px;
    margin-top: -250px;
}

.container-3, .container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container-4 {
    background-color: #fad94c;
}

.box-3, .box-5 {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Brushability Sans';
    color: #0b66ba;
    text-align: center;
}

.line {
    text-align: center;
    font-size: 4px;
    line-height: 3px;
    background-color: #f6276e;
    color: transparent;
    width: 300px;
    align-self: center;
}

h3 {
    text-align: center;
}

.box-4, .box-6 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.box-4 {
    width: 900px;
}

.box-4-1, .box-6-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.icon-1 {
    width: 64px;
}

.icon-desc {
    text-align: center;
}